## Working with CSV Files

In [1]:
import numpy as np

In [9]:
#Generating 50 rows and 4 columns of data
new_data = np.random.random((50,4))

In [18]:
#saving the randomly generated data
np.savetxt('main.csv', new_data, fmt='%.2f', delimiter=' , ', header='H1, H2, H3, H4')

In [19]:
## loading the cvs file
load_csv = np.loadtxt('main.csv', delimiter=',')

In [24]:
load_csv[0:4]

array([[0.98, 0.34, 0.09, 0.42],
       [0.05, 0.61, 0.06, 0.18],
       [0.1 , 0.34, 0.55, 0.47],
       [0.55, 0.26, 0.66, 0.41]])

In [25]:
import pandas as pd

In [29]:
df = pd.read_csv('main.csv')
df.head()

   # H1    H2    H3    H4
0  0.98  0.34  0.09  0.42
1  0.05  0.61  0.06  0.18
2  0.10  0.34  0.55  0.47
3  0.55  0.26  0.66  0.41
4  0.90  0.62  0.51  0.91

In [30]:
df.tail()

    # H1    H2    H3    H4
45  0.23  0.55  0.73  0.57
46  0.96  0.14  0.62  0.08
47  0.10  0.56  0.35  0.84
48  0.76  0.17  0.89  0.31
49  0.81  0.87  0.76  0.36

In [36]:
(df.isna().sum()/ len(df)* 10).round()

# H1    0.0
 H2     0.0
 H3     0.0
 H4     0.0
dtype: float64